/*评论样式*/
@import "./variables";

div.info {
  display: none;

  .vcontrol {
    padding-top: 0px !important;
  }
}

div#comments.comments.v {
  margin-top: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.vwrap {
  border: 1px solid grey !important;

}

.v .vbtn {
  background-color: #6fa3ef !important;
  color: white !important;
}

.v .vwrap .vedit .vctrl {
  text-align: left !important;

  span {
    color: map-get($colors, "grey") !important;
    padding: 3px !important;
  }
}

.v .veditor {
  min-height: 70px !important;
  height: 100px !important;
}

.v .vlist .vcard {
  border: 1px solid grey !important;
  padding-left: 14px !important;
  padding-right: 14px !important;
  margin-bottom: 25px !important;
  border-radius: 10px !important;
  padding-top: 8px !important;

  .vhead {
    float: left !important;
  }

  .vhead .vsys {
    display: none !important;
  }

  .vh .vmeta {
    float: right !important;
  }

  .vh .vmeta .vat {
    background-color: #6fa3ef !important;
    color: #fff !important;
    border-radius: 3px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .vcontent {
    margin-top: 20px !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    margin-bottom: unset !important;
  }

  .vh .vquote .vh .vcontent {
    font-weight: 500 !important;
  }

  .vhead .vnick {
    font-size: 16px !important;
    font-weight: 500 !important;
    color: #a7c194 !important;
  }
}

// .v .vlist .vcard .vh