/*评论样式*/
@import "./variables";

div.info {
  display: none;

  .vcontrol {
    padding-top: 0px !important;
  }
}

div#comments.comments.v {
  margin-top: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.vwrap {
  border: 0.0714rem solid grey !important;

}

.v .vbtn {
  background-color: #6fa3ef !important;
  color: white !important;
}

.v .vwrap .vedit .vctrl {
  text-align: left !important;

  span {
    color: map-get($colors, "grey") !important;
    padding: 0.2143rem !important;
  }
}

.v .veditor {
  min-height: 5rem !important;
  height: 7.1429rem !important;
}

.v .vlist .vcard {
  border: 0.0714rem solid grey !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  margin-bottom: 1.7857rem !important;
  border-radius: 0.7143rem !important;
  padding-top: 0.5714rem !important;

  .vhead {
    float: left !important;
  }

  .vhead .vsys {
    display: none !important;
  }

  .vh .vmeta {
    float: right !important;
  }

  .vh .vmeta .vat {
    background-color: #6fa3ef !important;
    color: #fff !important;
    border-radius: 0.2143rem !important;
    padding-left: 0.7143rem !important;
    padding-right: 0.7143rem !important;
  }

  .vcontent {
    margin-top: 1.4286rem !important;
    font-size: 1rem !important;
    font-weight: 500 !important;
    margin-bottom: unset !important;
  }

  .vh .vquote .vh .vcontent {
    font-weight: 500 !important;
  }

  .vhead .vnick {
    font-size: 1.1429rem !important;
    font-weight: 500 !important;
    color: #a7c194 !important;
  }
}

// .v .vlist .vcard .vh