@import "./variables";

//reset
* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  // font-family: Arial, Helvetica, sans-serif;
  font-family: "-apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei",
    sans-serif;
  line-height: 1.2em;
  background: map-get($colors, "bgcolor");
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: map-get($colors, "grey");
}

@each $colorKey,
$color in $colors {
  .text-#{$colorKey} {
    color: $color;
  }

  .bg-#{$colorKey} {
    background-color: $color;
  }
}

.bdr {
  border-radius: 10px;
}

// text align
@each $var in (left, center, right) {
  .text-#{$var} {
    text-align: $var !important;
  }
}

@each $sizeKey,
$size in $font-sizes {
  .fs-#{$sizeKey} {
    font-size: $size * $base-font-size;
  }
}

// text overflow
.text-ellipsis {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ul {
  list-style-type: none;
}

// flex
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

@each $key,
$value in $flex-jc {
  .jc-#{$key} {
    justify-content: $value;
  }
}

@each $key,
$value in $flex-ai {
  .ai-#{$key} {
    align-items: $value;
  }
}

// width, height
.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.flex-1 {
  flex: 1;
}

.flex-grow-1 {
  flex-grow: 1;
}

// m-0, mx-0
@each $typeKey,
$type in $spacing-types {

  // .m-1
  @each $sizeKey,
  $size in $spacing-sizes {
    .#{$typeKey}-#{$sizeKey} {
      #{$type}: $size * $spacing-base-size;
    }
  }

  // .mx-1 , .my-1
  @each $sizeKey,
  $size in $spacing-sizes {
    .#{$typeKey}x-#{$sizeKey} {
      #{$type}-left: $size * $spacing-base-size;
      #{$type}-right: $size * $spacing-base-size;
    }

    .#{$typeKey}y-#{$sizeKey} {
      #{$type}-top: $size * $spacing-base-size;
      #{$type}-bottom: $size * $spacing-base-size;
    }
  }

  // .mt-1 { margin-top: 0.25rem; } 三层嵌套循环
  @each $directionKey,
  $direction in $spacing-directions {

    @each $sizeKey,
    $size in $spacing-sizes {
      .#{$typeKey}#{$directionKey}-#{$sizeKey} {
        #{$type}-#{$direction}: $size * $spacing-base-size;
      }
    }
  }
}

// nav
.nav {
  display: flex;
}

// borders
@each $dir in (top, right, bottom, left) {
  .border-#{$dir} {
    border-#{$dir}: 1px solid $border-color;
  }
}

.hand {
  cursor: pointer;
}

/*评论样式*/
div.info {
  display: none;
}

div#comments.comments.v {
  margin-top: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.vwrap {
  border: 1px solid grey !important;
}

div.vcontrol {
  padding-top: 0px !important;
}

.v .vbtn {
  background-color: #6fa3ef !important;
  color: white !important;
}

.v .vwrap .vedit .vctrl {
  text-align: left !important;
}

.v .vwrap .vedit .vctrl span {
  color: map-get($colors, "grey") !important;
  padding: 3px !important;
}

.v .veditor {
  min-height: 70px !important;
  height: 100px !important;
}

.v .vlist .vcard {
  border: 1px solid grey !important;
  padding-left: 14px !important;
  padding-right: 14px !important;
  margin-bottom: 25px !important;
  border-radius: 10px !important;
}

.v .vlist .vcard .vhead .vsys {
  display: none !important;
}

.v .vlist .vcard .vh .vmeta .vat {
  background-color: #6fa3ef !important;
  color: #fff !important;
  border-radius: 3px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

// .v .vlist .vcard .vh

.v .vlist .vcard .vcontent {
  margin-top: 20px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  margin-bottom: unset !important;
}

.v .vlist .vcard .vh .vquote .vh .vcontent {
  font-weight: 500 !important;
}

.v .vlist .vcard .vhead .vnick {
  font-size: 16px !important;
  font-weight: 500 !important;
  color: #a7c194 !important;
}

.v .vlist .vcard {
  padding-top: 8px !important;
}

.v .vlist .vcard .vhead {
  float: left !important;
}

.v .vlist .vcard .vh .vmeta {
  float: right !important;
}