@import "./variables";

//reset
* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  // font-family: Arial, Helvetica, sans-serif;
  font-family: "-apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei",
    sans-serif;
  line-height: 1.2em;
  background: map-get($colors, "bgcolor");
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: map-get($colors, "grey");
}

@each $colorKey,
$color in $colors {
  .text-#{$colorKey} {
    color: $color;
  }

  .bg-#{$colorKey} {
    background-color: $color;
  }
}

.bdr {
  border-radius: 0.7143rem;
}

// text align
@each $var in (left, center, right) {
  .text-#{$var} {
    text-align: $var !important;
  }
}

@each $sizeKey,
$size in $font-sizes {
  .fs-#{$sizeKey} {
    font-size: $size * $base-font-size;
  }
}

// text overflow
.text-ellipsis {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ul {
  list-style-type: none;
}

// flex
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

@each $key,
$value in $flex-jc {
  .jc-#{$key} {
    justify-content: $value;
  }
}

@each $key,
$value in $flex-ai {
  .ai-#{$key} {
    align-items: $value;
  }
}

// width, height
.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.flex-1 {
  flex: 1;
}

.flex-grow-1 {
  flex-grow: 1;
}

// m-0, mx-0
@each $typeKey,
$type in $spacing-types {

  // .m-1
  @each $sizeKey,
  $size in $spacing-sizes {
    .#{$typeKey}-#{$sizeKey} {
      #{$type}: $size * $spacing-base-size;
    }
  }

  // .mx-1 , .my-1
  @each $sizeKey,
  $size in $spacing-sizes {
    .#{$typeKey}x-#{$sizeKey} {
      #{$type}-left: $size * $spacing-base-size;
      #{$type}-right: $size * $spacing-base-size;
    }

    .#{$typeKey}y-#{$sizeKey} {
      #{$type}-top: $size * $spacing-base-size;
      #{$type}-bottom: $size * $spacing-base-size;
    }
  }

  // .mt-1 { margin-top: 0.25rem; } 三层嵌套循环
  @each $directionKey,
  $direction in $spacing-directions {

    @each $sizeKey,
    $size in $spacing-sizes {
      .#{$typeKey}#{$directionKey}-#{$sizeKey} {
        #{$type}-#{$direction}: $size * $spacing-base-size;
      }
    }
  }
}

// nav
.nav {
  display: flex;
}

// borders
@each $dir in (top, right, bottom, left) {
  .border-#{$dir} {
    border-#{$dir}: 1px solid $border-color;
  }
}

.hand {
  cursor: pointer;
}

.show {
  transition: transform 0.25s ease;
  list-style: none;
}

.show:hover {
  transform: scale(1.1, 1.1);
}

.post-container {
  .top {
    min-width: 19.2857rem;
    min-height: 17.8571rem;
    // background: #f7f7f7 no-repeat top center;
    // background-size: auto 100%;
  }
}

.page {
  width: 46.4286rem;
}

.post-tags {
  max-width: 4.2857rem;
}

.post-tags:hover {
  background-color: map-get($colors, "border");
  color: map-get($colors, "grey");
}

.page-article img {
  display: block;
  margin: 0 auto;
}

h2,
h3,
h4 {
  color: map-get($colors, "grey-1");
}

pre {
  border-radius: 0.3571rem;
  padding: 1.1429rem;
  background: map-get($colors, "postcolor");
  overflow: hidden;
}

code {
  background: map-get($colors, "postcolor");
  padding: 0.1429rem 0.4286rem;
  color: map-get($colors, "codecolor");
}

.list {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 0.9286rem;
    font-weight: normal;
    display: flex;

    &:before {
      width: 1.4286rem;
      min-width: 1.4286rem;
      display: block;
      opacity: 0.5;
    }
  }

  h1 {
    &:before {
      content: "1\00a0 ";
    }
  }

  h2 {
    &:before {
      content: "2\00a0 ";
      margin-right: 1rem;
    }
  }

  h3 {
    &:before {
      content: "3\00a0 ";
      margin-right: 2rem;
    }
  }

  h4 {
    &:before {
      content: "4\00a0 ";
      margin-right: 3rem;
    }
  }

  h5 {
    &:before {
      content: "5\00a0 ";
      margin-right: 4rem;
    }
  }

  h6 {
    &:before {
      content: "6\00a0 ";
      margin-right: 5rem;
    }
  }
}

@media(max-width:41.4286rem) {

  .main-img {
    height: 2.2857rem;
    margin-top: 0.3571rem;
  }

  .main-font {
    font-size: 0.8571rem;
  }

  .page {
    width: 100%;
  }

  .res {
    width: 100% !important;
  }

  .link-item {
    margin: 0 auto;
  }

  .link-font {
    font-size: 1.2857rem;
  }

  .page-article {
    margin: 0 auto;
    width: 90%;

    img {
      width: 80%;
    }
  }

}